body {
    margin: 20px;
    padding: 15px;
    border: solid black 2px;
    border-radius: 20px;

}

.shadow{
    width: 95%;
    max-height: 400px;
    margin: auto;
    position : relative;
    border-radius: 10px;

    box-shadow:
  0 1.5px 4.4px rgba(0, 0, 0, 0.158),
  0 3.8px 11.1px rgba(0, 0, 0, 0.226),
  0 7.8px 22.7px rgba(0, 0, 0, 0.284),
  0 16.1px 46.7px rgba(0, 0, 0, 0.352),
  0 44px 128px rgba(0, 0, 0, 0.51)

}

#emojiHistory{
    width: 90%;
    height: 400px;
    margin: auto;
    position: relative;
    padding: 10px;
    border-radius: 10px;
    font-size: 2.4rem;
    font-size: 24px;
}

.titles{
    font-size: 3.6rem;
    font-size: 36px;
}

#maintitle{
    font-size: 4.8rem;
    font-size:48px;
    text-align: center;
    text-decoration: solid;
    color: rgb(34, 199, 144);
}

#emojis{
    width: 90%;
    font-size: 4.4rem;
    font-size: 44px;
    border-radius: 10px;
    padding: 10px;
}


#emoji-story{
    font-size: 3.2rem;
    font-size: 32px;
    text-align: center;
}


#description-input, #story-length-input, #generate-story-btn, #submit-description-btn{
    width: 85%;
    height: 25%;
    font-size: 2.4rem;
    font-size:24px;
    margin: 15px;
    padding: 15px;
    display: inline-block;
    text-align: center;

}

.form{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#generate-story-btn, #submit-description-btn{
    margin-left:15px;
  
}